@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Movies</h2>
<br />
@if (!Model.Any())
{
    <p> don't have any Movies yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name,"Details","Movies", new { id = item.Id }, null)</td>
                    <td>@item.Genre.Name</td>

                </tr>

            }
        </tbody>
    </table>
}

